:root {
    --inner-color-red: 215;
    --inner-color-blue: 221;
    --inner-color-green: 221;
    --innerColor: rgb(var(--inner-color-red), var(--inner-color-green), var(--inner-color-blue));

    --background-color-red: 255;
    --background-color-green: 255;
    --background-color-blue: 255;
    --background-color: rgb(var(--background-color-red), var(--background-color-green), var(--background-color-blue));
    --background-opacity: 40%;
    --border-radios: 5px;

    --hr-border: 2px;

    --hr-margin-vertical: 3px;
    --hr-margin: calc((var(--hr-border) + var(--hr-margin-vertical)) * 2);

    --hr-margin-horizontal: 4px;
    --div-hr-margin: calc((var(--hr-border) + var(--hr-margin-vertical)) * 2);

    --hr-height: calc((var(--hr-border) + var(--hr-margin-vertical)));

    --font-parent-size-unit: 0.6em;
    --font-size-unit: calc(var(--font-parent-size-unit));
}

@page {
    size: auto;
    margin: 0mm;
}

html {
    display: flex;
    height: 1123px;
    width: 794px;
}

body {
    background-color: var(--background-color);
    font-family: "SF Pro Text",
        "SF Pro Icons",
        "Roboto",
        "Arial",
        sans-serif;
    color: #333333;

    padding: 40px 20px;
    margin: 0px;
    display: grid;
    grid-template: max-content var(--hr-height) max-content var(--hr-height) max-content var(--hr-height) max-content var(--hr-height) max-content;

}


hr {
    height: 0;
    border: var(--hr-border) solid var(--innerColor);
    border-radius: var(--border-radios);
    padding: 0;
    margin: var(--hr-margin) 15px;
}

div hr {
    margin: var(--div-hr-margin);
    height: initial;
}

h1 {
    font-size: calc(2.25 * var(--font-size-unit));
    font-weight: 550;
    margin-right: auto;

    margin-block-end: calc(1 * var(--font-size-unit));
}

h2 {
    font-size: calc(1.5 * var(--font-size-unit));
    font-weight: 400;
    margin-block-start: calc(1.5 * var(--font-size-unit));
    margin-block-end: calc(0.5 * var(--font-size-unit));
}

p {

    font-size: calc(1.5 * var(--font-size-unit));
    font-weight: 300;
    margin-block-start: calc(0.5 * var(--font-size-unit));
    margin-block-end: calc(0.5 * var(--font-size-unit));
    padding: 0px 10px;
    max-width: 450px;
}

small {
    padding: 0px 30px;
    font-size: calc(0.9 * var(--font-size-unit));
    margin-block-start: calc(0.5 * var(--font-size-unit));
    margin-block-end: calc(0.5 * var(--font-size-unit));
}

th h1,
td h4,
td p {
    margin-block-start: 7px;
    margin-block-end: 0;
}

td h4 {
    font-size: calc(1.3 * var(--font-size-unit));
}

td {
    border: solid transparent calc(0.1 * var(--font-size-unit));
}

th {
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: auto min-content auto;
    background-color: rgba(var(--inner-color-red), var(--inner-color-green), var(--inner-color-blue), var(--background-opacity));
    border-radius: var(--border-radios);
    margin: 0 10px;

}

.card {
    border: solid 5px var(--innerColor);
    box-shadow: 0 0 0 3px var(--innerColor);
    border-radius: var(--border-radios);
    background-color: var(--innerColor);
    padding: 10px 15px;
    height: auto;

}

.standAlone {
    max-height: 100%;
    margin: 0 10px;
}

.flexed {
    display: flex;

}

.left {
    width: auto;
}

.right {
    width: auto;
}

.indented {
    text-indent: calc(1.375 * var(--font-size-unit))
}

#header {
    display: grid;
    grid-template-columns: auto min-content min-content;
}

#name h1 {
    font-weight: 400;
    font-size: calc(3 * var(--font-size-unit));
}

#name-and-objective {
    display: grid;
    grid-template-rows: auto min-content auto;
}



#my-logo-div .right {
    padding: 0;
}

#my-logo {
    display: block;
    margin: auto;
    width: 80%;
    padding: 10px 0;
    max-width: 90px;
}

#my-logo-div {
    display: grid;
    grid-template-columns: auto minmax(30px, auto) max-content auto;
}

#my-logo-div hr {
    width: 0px;
    margin-right: auto;
    margin-left: auto;
}

#contacts {
    display: table;
    height: 100%;
}

#contacts table {
    margin: auto;
    padding: 10px 15px;
}

#contacts p {
    font-size: calc(1.5 * var(--font-size-unit));
    font-weight: 350;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

#print-button-parrent {
    display: none;
}


#print-button:hover {
    background-color: rgba(var(--background-color-red), var(--background-color-green), var(--background-color-blue), var(--background-opacity));
}

#objective {
    display: grid;
    grid-template-columns: min-content max-content;
}

#objective h1 {
    margin: 15px
}

#objective p {
    margin: 15px;
}

#objective p,
#objective h1 {
    margin-block-end: 20px;
}