:root {
    --inner-color-red: 255;
    --inner-color-blue: 255;
    --inner-color-green: 255;
    --innerColor: rgb(var(--inner-color-red), var(--inner-color-green), var(--inner-color-blue));

    --background-color-red: 169;
    --background-color-green: 209;
    --background-color-blue: 155;
    --background-color: rgb(var(--background-color-red), var(--background-color-green), var(--background-color-blue));
    --background-opacity: 60%;
    --border-radios: 0.3vw;

    --hr-border: 0.1vw;
    --hr-margin-vertical: 0.4vw;
    --hr-margin-horizontal: 0.7vw;
}

html {
    width: 100vw;
    height: 100.414vw;
}

body {
    background-color: var(--background-color);
    font-family: Roboto;
}


hr {
    border: var(--hr-border) solid var(--innerColor);
    border-radius: var(--border-radios);
    margin: var(--hr-margin-vertical) var(--hr-margin-horizontal);
}

div hr {
    margin: calc(var(--hr-margin-horizontal) / 2) var(--hr-margin-vertical);
}




h1 {
    font-size: 2.25vw;
    font-weight: 550;

}

h2 {
    font-size: 1.5vw;
    font-weight: 400;
    margin-block-start: 1.5vw;
    margin-block-end: 0.5vw;

}


p {
    font-size: 1.2vw;
    font-weight: 300;
    margin-block-start: 0.5vw;
    margin-block-end: 0.5vw;
    padding: 0px 30px;
    max-width: 80vw;
}

small {
    padding: 0px 30px;
    font-size: 0.9vw;
    margin-block-start: 0.5vw;
    margin-block-end: 0.5vw;
}



th {
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: auto calc((var(--hr-margin-vertical) + var(--hr-border)) * 2) auto;
    background-color: rgba(var(--inner-color-red), var(--inner-color-green), var(--inner-color-blue), var(--background-opacity));
    border-radius: var(--border-radios);
    margin: 0 0.5vw;

}

.card {
    display: block;
    border: solid 0.25vw var(--innerColor);
    box-shadow: 0 0 0 0.07vw var(--innerColor);
    border-radius: var(--border-radios);
    background-color: var(--innerColor);
    padding: 0.5vw 1.5vw;

}

.standAlone {
    margin: 0 0.5vw;
}

.flexed {
    display: flex;

}

.left {
    width: auto;
}

.right {
    width: auto;
}

h1 {
    margin-right: auto;
    margin-block-start: auto;
    margin-block-end: auto;
}

#name h1 {
    font-weight: 400;
    font-size: 3.3vw;
}


#contacts p {
    font-size: 1.5vw;
    font-weight: 350;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 0 2vw;
}

.indented {
    text-indent: 1.4vw
}

#object h1 {
    margin-right: 5vw;
}

#object p {
    margin: auto;
}

th h1,
td h4,
td,
h2 {
    margin-block-start: 0.4vw;
    margin-block-end: 0;
}

table,
th,
td {
    margin: 1vw 0;
}